<div class="container"></div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="text-center">Edita tu perfil</h1>
            <p class="text-center">Sé parte de la comunidad de DevMatch</p>
            <div class="well">
                <%= render 'form' %>
            </div>
        </div>
    </div>
</div>