<div class="container text-center">
  <h1>Acerca de...</h1>
  <p>Somos <i class="fa fa-group"></i> DevMatch. Nuestra compañía provee espacios
  flexibles y exclusivos para que desarrolladores y emprendedores se puedan
  encontrar para crear juntos sus sueños</p>
</div>