<div class="home-callout text-center container-fluid">
  <h1>Bienvenido a DevMatch</h1>
  <h3>Donde emprendedores y desarrolladores se encuentran.</h3>
</div>

<div class="container text-center home-signup-links">
  
    <div class="row">
      <div class="col-md-6">
        <div class="well">    
          <h2> Registrarse en el Plan Básico</h2>
          <h4> Acceso a la comunidad DevMatch</h4>
          <%= link_to "Acceso Básico", new_user_registration_path(plan_id: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
      </div>
      </div>
        <div class="col-md-6">
          <div class="well">
          <h2> Registrarse en el Plan Pro</h2>
          <h4> Acceso a la comunidad DevMatch y datos de contacto</h4>
          <%= link_to "Acceso Pro",new_user_registration_path(plan_id: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
        </div>
      </div>
    </div>
  
</div>